form {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
}

.form-control-update {
  margin-bottom: 1rem;
}

.form-control {
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26) !important;
  border-radius: 6px !important;
  padding-top: 20px;
}
label {
  font-weight: normal;
}

input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 90%;
}
.input-padding-new-todo {
  width: 80%;
  margin: 20px 15px 50px 45px;
}
.input-padding-update-todo {
  width: 80%;
  margin: 15px 40px 5px 40px;
}

input:focus {
  outline: none;
  border-color: #50005a;
}
